mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

mat-sidenav-container {
    margin-top: 56px;
}

mat-sidenav-content {
    background-color:inherit;
    overflow-y: hidden;
    padding-bottom: 160px;
}

.mat-drawer-container {
    background-color: inherit;
}