page-tarefas {
	ion-content {
		button {
			background-color: aqua;
			.title {
				display: inline-block;
				margin-left:10px;
			}
			.endereco{
				margin: 10px;
			}
			.tempo{
				font-size: 14px;
				color:#000;
				width: 100%;
				margin-top: 10px;
				
				td {
					padding: 5px;
				}

				td:nth-child(2){
					text-align: center;
				}

				td:nth-child(3){
					text-align: center;
				}

			}
		}
		.normal {
			background-color: #FFF;
			color:#000;
		}
		.prioridade {
			background-color: #FF6;
			color:#000;
		}
		.urgente {
			background-color: #C66;
			color:#000;
		}
		.executada {
			background-color: #DDD !important;
			color:#999 !important;
			border-bottom: 1px solid #999;

			.tempo {
				color:#999 !important;
			}
		}
	}
}
