.controles {
	display: flex;
	margin: 0 0 20px 0;
	justify-content: space-between;
	.container-fechamento{
		width: calc(100% - 150px);
	}	
}

table {
	width:100%;
	border-collapse: collapse;
	
	td {
		padding: 10px;
		border-bottom: 1px solid #CCC;
		text-align: center;
	}

	thead td {
		font-size: 12px;
		color:#666;
	}

	tbody {
		td {
			cursor: pointer;
			font-size: 12px;
		}
	}
	tbody tr:hover td{
		background-color: #FFF;
	}
}