<div class="container-80 top-gap">
	<div class="controles">
		<mat-form-field class="container-fechamento">
			<mat-select
				(selectionChange) = "onFechamentoChange()"
				placeholder="Períodos de Fechamento"
				name="fechamentos"
				[(ngModel)]="fechamentoSelecionado" >
				<mat-option [value]="fechamento" *ngFor="let fechamento of fechamentos" >[{{fechamento.id}}] De {{fechamento.inicio|date:"dd/MM/yyyy"}} à {{fechamento.final|date:"dd/MM/yyyy"}} {{fechamento.aberto ? '*** aberto ***' : '' }} </mat-option>
			</mat-select>
		</mat-form-field>

		<button mat-mini-fab color="accent" (click)="onTransferirParaAntClick()" matTooltip="Transferir SSEs selecionadas para período de fechamento anterior.">
			<mat-icon>skip_previous</mat-icon>
		</button>

		<button mat-mini-fab color="accent" (click)="onTransferirParaProxClick()" matTooltip="Transferir SSEs selecionadas para próximo período de fechamento.">
			<mat-icon>skip_next</mat-icon>
		</button>

		<button *ngIf="fechamentoSelecionado?.aberto" mat-mini-fab color="accent" (click)="onFecharClick()" matTooltip="Encerrar período de fechamento.">
			<mat-icon>lock_open</mat-icon>
		</button>

		<button *ngIf="!fechamentoSelecionado?.aberto" mat-mini-fab color="accent" (click)="onAbrirClick()" matTooltip="Reabrir período de fechamento.">
			<mat-icon>lock</mat-icon>
		</button>
	</div>

	<table>
		<thead>
			<tr>
				<td>
					<button mat-icon-button (click)="onMarcarTodasClick()" matTooltip="Marcar/Desmarcar todas">
						<mat-icon>done_all</mat-icon>
					</button>
				</td>
				<td>Número</td>
				<td>Medida Prev</td>
				<td>Medida Real</td>
				<td>Medida Lib.</td>
				<td>TDS Prev</td>
				<td>TDS Real</td>
				<td>Valor Prev</td>
				<td>Valor Real</td>
				<td>Valor Lib.</td>
				<td>CMO</td>
				<td>CMP</td>
				<td>Data Devolução</td>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let sse of fechamentoSelecionado?.sses" (click)="onRowClick(sse.id)">
				<td>
					<mat-checkbox (click)="onCheckboxClick($event)" color="primary" [(ngModel)]="sse.marcada" ></mat-checkbox>
				</td>
				<td>{{ sse.numero }}</td>
				<td>{{ sse.totalPrev.toString() }}</td>
				<td>{{ sse.totalReal.toString() }}</td>
				<td>
					<a
						*ngIf="fechamentoSelecionado?.aberto"
						title="Clique para alterar medida liberada"
						(click)="onChangeMedidaLibaradaClick($event,sse.id,sse.totalLibe.valor)">{{ sse.totalLibe.toString() }}
					</a>
					<span
						title="Impossível alterar medida liberada. Abra o fechamento."
						*ngIf="!(fechamentoSelecionado?.aberto)">{{ sse.totalLibe.toString() }}</span>
				</td>
				<td>RG{{ sse.tipoDeServicoPrev.codigo }}</td>
				<td>RG{{ sse.tipoDeServicoReal.codigo }}</td>
				<td>{{ sse.valor_prev | currency:'BRL':symbol:'1.2-2' | moedaBrasil }}</td>
				<td>{{ sse.valor_real | currency:'BRL':symbol:'1.2-2' | moedaBrasil }}</td>
				<td>{{ sse.valor_libe | currency:'BRL':symbol:'1.2-2' | moedaBrasil }}</td>
				<td>{{ sse.cmo | currency:'BRL':symbol:'1.2-2' | moedaBrasil }}</td>
				<td>{{ sse.cmp | currency:'BRL':symbol:'1.2-2' | moedaBrasil }}</td>
				<td>{{ sse.data_devolucao | date:'dd/MM/yyyy' }}</td>
			</tr>
		</tbody>
	</table>
</div>