<ion-header>
	<ion-toolbar color="primary">
		<ion-title>Tarefas</ion-title>
		<ion-buttons end>
			<button ion-button (click)="onListClick()"><ion-icon name="list"></ion-icon></button>
			<button ion-button (click)="onRefreshClick()"><ion-icon name="refresh"></ion-icon></button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content>
	<agm-map
		[latitude]="lat_inicial"
		[longitude]="lng_inicial"
		[zoom]="initial_zoom">
		
		<agm-marker
			*ngFor="let tarefa of tarefas"
			[latitude]="tarefa.lat"
			[longitude]="tarefa.lng">
			
			<agm-info-window [disableAutoPan]="false" #infowindow>
				<div>SSE {{tarefa.numero_sse}}</div>
				<div>Início Previsto:{{tarefa.inicio_p | date:'dd/MM/yyyy HH:mm'}}</div>
				<div>Final Previsto:{{tarefa.inicio_p | date:'dd/MM/yyyy HH:mm'}}</div>
				<div class="buttons-container">
					<button ion-button (click)="onTarefaClick(tarefa.id)" *ngIf="tarefa.status_trf==1">Ver SSE</button>
					<button ion-button disabled *ngIf="tarefa.status_trf==-1">Ainda Idisponível</button>
					<button ion-button disabled *ngIf="tarefa.status_trf==2">Em execução</button>
					<button ion-button disabled *ngIf="tarefa.status_trf==3">Finalizada</button>
				</div>
			</agm-info-window>
			
		</agm-marker>
	
	</agm-map>
</ion-content>
