<form #form="ngForm">
	<div class="campos">
		<mat-form-field>
			<input matInput type="text" disabled placeholder="Produto" value="{{movimento.produto.nome}}">
		</mat-form-field>
		<mat-form-field>
			<input matInput type="text" disabled placeholder="Tipo" value="{{ (movimento.tipo == 1 ? 'Entrada' : 'Saída') }}">
		</mat-form-field>
		<mat-form-field>
			<input matInput type="text" disabled placeholder="Data/Hora" value="{{movimento.dh.toLocaleString()}}">
		</mat-form-field>
		<mat-form-field>
			<input matInput type="number" step="0.01" name="qtde" min="0" [(ngModel)]="movimento.qtde"  placeholder="Quantidade">
		</mat-form-field>
	</div>
	
	<div class="controles">
		<button mat-raised-button color="accent" (click)="onCancelarClick()">Cancelar</button>
		<button mat-raised-button color="warn" (click)="onRemoverClick()">Remover Movimento</button>
		<button mat-raised-button color="primary" (click)="onSalvarClick()" [disabled]="!form.valid">Salvar</button>
	</div>
</form>