:host(){
	agm-map {
		height: calc(100vh - 56px);

		agm-info-window {
		}
		.numero {
			font-weight: bold;
		}
		.link {
			display: block;
			text-align: right;
			text-decoration: underline;
			color: blue;
			cursor: pointer;
		}
	}

	.legenda {
		position: fixed;
		left: 0px;
		bottom: 32px;
		left: 23px;
		padding: 10px 10px 0 10px;
		background-color: rgba(255,255,255,0.5);

		div {
			margin: 0 0 10px 0;
		}
		img {
			vertical-align: middle;
			height: 24px;
			margin-right: 5px;
		}
	}
}