:host(){
	agm-map {
		height: calc(100vh - 56px);
		
		
		.controles-info-window {
			text-align: left;
			margin-top: 10px;
			button {
				margin-right: 5px;
				mat-icon {
					margin-right:10px;
				}
			}
		}

		.agendamentos {
			.titulo {
				font-weight: bold;
			}
			
			table{
				width: 100%;
				border-collapse: collapse;
				margin: 10px 0 0 0;
				td {
					border: 1px solid #DEDEDE;
					text-align: center;
					padding: 2px;
				}
				
				.bt-container{
					button {
						cursor: pointer;
						width: 25px;
						height: 25px;
						margin: 2px;
						img{
							width: 20px;
							position: relative;
							left: -5px;
						}
					}
					button:disabled {
						cursor: default;
						img {
							opacity: 0.5;
						}
					}
				}
			}
		}
		
		.numero {
			font-weight: bold;
			margin: 10px 0;
			font-size: 18px;
		}

		.atrasado{
			padding: 4px;
			background-color: #F00;
			color: #FFF;
			text-align: center;
			border-radius: 3px;
			margin: 10px 0;
		}

		countdown {
			padding: 4px;
			background-color: #C80;
			color: #FFF;
			text-align: center;
			border-radius: 3px;
			margin: 10px 0;
			display: block !important;
		}
	}

	.legenda {
		position: fixed;
		left: 0px;
		bottom: 32px;
		left: 23px;
		padding: 10px 10px 0 10px;
		background-color: rgba(255,255,255,0.5);
		border-radius: 4px;

		div {
			margin: 0 0 10px 0;
		}
		img {
			vertical-align: middle;
			height: 24px;
			margin-right: 5px;
		}
	}

	mat-toolbar {
		background-color: rgba(0,0,0,0.5);
		position: fixed;
		left: 0;
		top: 56px;
		z-index: 1;
		button {
			background-color: transparent;
			border: none;
			cursor: pointer;
			position: relative;
			top: 8px;
			color: #E0E0E0;
			outline: none;
			&:hover{
				color:#FFF;
			}
		}
	}
}