<agm-map
	[latitude]="initial_lat"
	[longitude]="initial_lng"
	[zoom]="12"
	(mapClick)="onMapClick($event)">
	<agm-marker
		*ngFor="let sse of sses"
		[latitude]="sse.lat"
		[longitude]="sse.lng"
		[iconUrl]="'assets/' + sse.markerFile"
		(markerClick)="onMarkerClick(infowindow)">
		<agm-info-window [disableAutoPan]="true" #infowindow>
			<div class="numero">SSE: {{sse?.numero == null ? 'sem número' : sse?.numero}}</div>
			<div class="endereco">{{sse?.endereco}}</div>
			<div>RG{{sse?.tipoDeServico?.codigo}} - {{sse?.tipoDeServico?.descricao}}</div>
			<div class="status">{{sse?.statusMessage}}</div>
			<div class="prazo">Prazo de entrega: {{sse?.prazoFinal?.toLocaleString()}}</div>
			<div>
				Equipe Atual: {{ sse.equipe ? ' [' + sse.equipe.sigla + '] - ' + sse.equipe.nome : ' NENHUMA'}}
			</div>
			<countdown *ngIf="sse.tempoRestante > 0 && sse.status!= 100 && sse.status!= -100" [config]="{leftTime: sse.tempoRestante}">Restam: $!d! <span>d</span> : $!h! <span>h</span> : $!m! <span>min</span></countdown>
			<div class="atrasado" *ngIf="sse.tempoRestante <= 0 && sse.status!= 100 && sse.status!= -100" >ATRASADA</div>
			<div class="agendamentos" *ngIf="sse.tarefas.length > 0">
				<div class="titulo">Agendamentos para SSE</div>
				<table>
					<thead>
						<tr>
							<td rowspan="2">Equipe</td>
							<td rowspan="2">Apoio</td>
							<td rowspan="2">PR</td>
							<td colspan="2">Data / Hora</td>
							<td rowspan="2">Ações</td>
						</tr>
						<tr>
							<td>Início</td>
							<td>Final</td>
						</tr>
					</thead>
					<tbody *ngFor="let tarefa of sse.tarefas">
						<tr>
							<td rowspan="2">{{tarefa.equipe.sigla}}</td>
							<td rowspan="2">{{tarefa.apoio?.sigla}}</td>
							<td>P</td>
							<td>{{tarefa.inicio_p | date:'dd/MM HH:mm'}}</td>
							<td>{{tarefa.final_p | date:'dd/MM HH:mm'}}</td>
							<td rowspan="2" class="bt-container">
								<button [disabled]="tarefa.inicio_r" title="Alterar Agendamento" (click)="onAlterarAgendamentoClick(sse,tarefa.id)"><img src="assets/editar.svg"></button>
								<button [disabled]="tarefa.inicio_r" title="Cancelar Agendamento" (click)="onCancelarAgendamentoClick(tarefa.id)"><img src="assets/cancelar.svg"></button>
							</td>
						</tr>
						<tr>
							<td>R</td>
							<td>{{tarefa.inicio_r ? (tarefa.inicio_r | date:'dd/MM HH:mm') : ''}}</td>
							<td>{{tarefa.final_r ? (tarefa.final_r | date:'dd/MM HH:mm') : '' }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<!--
			<a *ngIf="sse.status == '100'" class="link" (click)="onReabrirClick(sse.id)">Reabrir SSE</a>
			<a *ngIf="sse.status != '100'" class="link" (click)="onSetConcluidaClick(sse.id)">Marcar SSE como concluída</a>
			<a *ngIf="sse.status != '100'" class="link" (click)="onAgendarClick(sse)">Agendar Tarefa para SSE</a>
			-->
			<div class="controles-info-window">
				<!-- Botão de ver SSE - Sempre visível -->
				<button mat-raised-button color="accent" (click)="goToSse(sse.id)" ><mat-icon>visibility</mat-icon>Ver SSE</button>

				<!-- Botão de cancelar SSE. Visível se status for cadastrada (0), agendada (1) ou executando (2) -->
				<button
					*ngIf = "sse.status=='0' || sse.status=='1' || sse.status=='2'"
					mat-raised-button color="accent"
					(click)="onCancelarSseClick(sse.id)" >
						<mat-icon>block</mat-icon>Cancelar SSE
				</button>

				<!-- Botão de agendar equipe. Visível quando status não for finalizado (100) nem for cancelado(-100) -->
				<button
					*ngIf="sse.status!=100 && sse.status!= -100"
					mat-raised-button
					color="accent"
					(click)="onAgendarClick(sse)">
						<mat-icon>access_time</mat-icon>Agendar Equipe
				</button>

				<!-- Botão Finalizar SSE. Visível somente quando o status é Pendente (3) -->
				<button
					*ngIf="sse.status == 3"
					mat-raised-button
					color="accent"
					(click)="onFinalizarClick(sse)">
						<mat-icon>done</mat-icon>Finalizar SSE
				</button>

				<!-- Botão Marcar como Retrabalho. Visível somente quando o status é Finalizado (100) -->
				<button
					*ngIf="sse.status == 100"
					mat-raised-button
					color="accent"
					(click)="onRetrabalhoClick(sse)">
						<mat-icon>cached</mat-icon>Marcar como Retrabalho
				</button>

				<!-- Botão Marcar retrabalho como finalizado. Visível somente quando o status é Retrabalho (-2) -->
				<button
					*ngIf="sse.status == -2"
					mat-raised-button
					color="accent"
					(click)="onFinalizarRetrabalhoClick(sse)">
						<mat-icon>done_all</mat-icon>Finalizar Retrabalho
				</button>

				<!-- Botão Reabrir SSE Cancelada. Visível somente quando o status é Canceladp (-100) -->
				<button
					*ngIf="sse.status == -100"
					mat-raised-button
					color="accent"
					(click)="onReabrirClick(sse.id)">
						<mat-icon>autorenew</mat-icon>Reabrir SSE
				</button>

			</div>
	   	</agm-info-window>
	</agm-marker>
</agm-map>
<div class="legenda">
	<div><img src="assets/marker-divergente.svg"><span>Divergente</span></div>
	<div><img src="assets/marker-virgem.svg"><span>Virgem</span></div>
	<div><img src="assets/marker-agendada.svg"><span>Agendada</span></div>
	<div><img src="assets/marker-emExecucao.svg"><span>Em Execução</span></div>
	<div><img src="assets/marker-execucaoConcluida.svg"><span>Execução Concluída</span></div>
	<div><img src="assets/marker-concluida.svg"><span>Finalizada</span></div>
	<div><img src="assets/marker-concluida-u.svg"><span>Urgente</span></div>
</div>