<mat-toolbar color="primary">
	<mat-toolbar-row>
		<button mat-icon-button (click)="toggleSideNav()"><mat-icon>menu</mat-icon></button>
		
		<span class="spacer"></span>

		<button mat-icon-button matTooltip="Buscar SSE" (click)="onBuscarClick()" *ngIf="buscaDisponivel">
			<mat-icon>search</mat-icon>
		</button>

		<button mat-icon-button matTooltip="Atualizar" (click)="onAtualizarClick()">
			<mat-icon>replay</mat-icon>
		</button>

		<button mat-icon-button matTooltip="Nova SSE" (click)="onNovaSSEButtonClick()">
			<mat-icon>add</mat-icon>
		</button>

		<button mat-icon-button matTooltip="Mapa" (click)="onMapButtonClick()">
			<mat-icon>map</mat-icon>
		</button>

		<button mat-icon-button matTooltip="Grid" (click)="onGridButtonClick()">
			<mat-icon>view_list</mat-icon>
		</button>

		<button mat-icon-button [matMenuTriggerFor]="menu">
			<mat-icon>more_vert</mat-icon>
		</button>

		<mat-menu #menu="matMenu">
			<button mat-menu-item>
				<mat-icon>person</mat-icon>
				<span>Configurações Pessoais</span>
			</button>
			<button mat-menu-item>
				<mat-icon>help</mat-icon>
				<span>Ajuda</span>
			</button>
			<button mat-menu-item [routerLink]="['/login']">
				<mat-icon>power_settings_new</mat-icon>
				<span>Sair</span>
			</button>
		</mat-menu>
		
	</mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container (backdropClick)="closeSideNav()">
	<mat-sidenav
		#sidenav
		(keydown.escape)="closeSideNav()"
		[fixedInViewport]="true"
		[fixedTopGap]="56"
		[fixedBottomGap]="0"
		>
		<mat-nav-list>
				<a mat-list-item routerLink="/home/sses" (click)="closeSideNav()"><mat-icon matListIcon>av_timer</mat-icon>SSEs</a>
				<a mat-list-item routerLink="/home/usuarios" (click)="closeSideNav()"><mat-icon matListIcon>person</mat-icon>Usuarios</a>
				<a mat-list-item routerLink="/home/equipes" (click)="closeSideNav()"><mat-icon matListIcon>group</mat-icon>Equipes</a>
				<a mat-list-item routerLink="/home/estoque" (click)="closeSideNav()"><mat-icon matListIcon>store</mat-icon>Estoque</a>
				<a mat-list-item routerLink="/home/fechamento" (click)="closeSideNav()"><mat-icon matListIcon>event</mat-icon>Fechamentos</a>
				<a mat-list-item routerLink="/home/importacao" (click)="closeSideNav()"><mat-icon matListIcon>arrow_upward</mat-icon>Importar SSEs (.xlsx)</a>
		</mat-nav-list>
	</mat-sidenav>

	<mat-sidenav-content>
			<router-outlet></router-outlet>
	</mat-sidenav-content>

</mat-sidenav-container>

<div id="carregando" *ngIf="carregando">
	<mat-spinner></mat-spinner>
</div>