@import '~@angular/material/theming';
@import '../../../custom.scss';

$warn: map-get($mapos-theme, warn);

:host(){

    @include mat-elevation(2);
    display: block;
    width: 210px;
    height: 270px;
    padding: 40px 40px 100px 40px;
    background-color: #FFF;
    position: absolute;
    left: 50%;
    top:50%;
    margin: -215px auto auto -220px;
    
    * {
        display: inline;
    }

    .entrar{
        width: 100%;
    }

    .esqueci{
        font-size: 12px;
        width: 100%;
        margin: 10px 0 0 0;
    }

    img {
        width: 100%;
    }

    .erro {
        text-align: center;
        font-size: 12px;
        display: block;
        position: relative;
        top: -10px;
        color: mat-color($warn);
    }

}