<div class="controles">
	<button mat-raised-button color="primary" (click)="onAdicionarClick()">Adicionar Novo Produto</button>
</div>
<table>
	<thead>
		<tr>
			<td>Id</td>
			<td>Nome</td>
			<td>Qtde min</td>
			<td>Qtde max</td>
			<td>Qtde atual</td>
			<td>Unid</td>
			<td>Valor Unit</td>
			<td>Última Movimentação</td>
			<td>Ações</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let produto of produtos">
			<td>{{produto.id}}</td>
			<td>{{produto.nome}}</td>
			<td>{{produto.qtde_min}}</td>
			<td>{{produto.qtde_max}}</td>
			<td>{{produto.qtde}}</td>
			<td>{{produto.unidade}}</td>
			<td>{{produto.valor_unit| currency:'BRL':symbol:'1.2-2' | moedaBrasil}}</td>
			<td>{{produto.ultimo_movimento|date:'dd/MM/yyyy hh:mm'}}</td>
			<td>
				<button mat-icon-button (click)="onDeleteClick(produto.id)">
					<mat-icon>delete</mat-icon>
				</button>
				<button mat-icon-button (click)="openEditProdutoDialog(produto)">
					<mat-icon>edit</mat-icon>
				</button>
			</td>
		</tr>
	</tbody>
</table>