.controles {
	width:80%;
	position: relative;
	left: 10%;
	text-align: right;
	margin-top: 25px;
}
table {
	width:80%;
	position: relative;
	left: 10%;;
	margin-top: 25px;
	border-collapse: collapse;
	
	td {
		padding: 10px;
		border-bottom: 1px solid #CCC;
		text-align: center;
	}

	td:nth-child(2){
		text-align: left;
	}

	thead td {
		font-size: 12px;
		color:#666;
	}
	tbody tr:last-child td{
		border-bottom: none;
	}

}