<table>
	<thead>
		<tr>
			<td>Id</td>
			<td>Nome</td>
			<td>Qtde min</td>
			<td>Qtde max</td>
			<td>Qtde atual</td>
			<td>Unid</td>
			<td>Última Movimentação</td>
			<td>Ações</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>Produto 1</td>
			<td>50</td>
			<td>50000</td>
			<td>3520</td>
			<td>m</td>
			<td>10/12/2017 15:30</td>
			<td>
				<button mat-icon-button>
					<mat-icon>edit</mat-icon>
				</button>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td>Produto 1</td>
			<td>50</td>
			<td>50000</td>
			<td>3520</td>
			<td>m</td>
			<td>10/12/2017 15:30</td>
			<td>
				<button mat-icon-button>
					<mat-icon>edit</mat-icon>
				</button>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td>Produto 1</td>
			<td>50</td>
			<td>50000</td>
			<td>3520</td>
			<td>m</td>
			<td>10/12/2017 15:30</td>
			<td>
				<button mat-icon-button>
					<mat-icon>edit</mat-icon>
				</button>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td>Produto 1</td>
			<td>50</td>
			<td>50000</td>
			<td>3520</td>
			<td>m</td>
			<td>10/12/2017 15:30</td>
			<td>
				<button mat-icon-button>
					<mat-icon>edit</mat-icon>
				</button>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td>Produto 1</td>
			<td>50</td>
			<td>50000</td>
			<td>3520</td>
			<td>m</td>
			<td>10/12/2017 15:30</td>
			<td>
				<button mat-icon-button>
					<mat-icon>edit</mat-icon>
				</button>
			</td>
		</tr>
	</tbody>
</table>