:host(){

    display: block;
    width: 300px;
    padding: 20px 20px 60px 20px;

    * {
        display: inline;
    }

    button{
        position: absolute;
        right: 20px;
        bottom: 0px;
        background-color: #f50f00;
        width: 50%;
    }

}