@import '~@angular/material/theming';
@import '../../custom.scss';

$warn: map-get($maxse-theme, warn);

:host(){

    @include mat-elevation(2);
    display: block;
    width: 360px;
    height: 270px;
    padding: 40px 40px 100px 40px;
    background-color: #FFF;
    position: absolute;
    left: 50%;
    top:50%;
    margin: -215px auto auto -220px;
    
    * {
        display: inline;
    }

    .entrar{
        position: absolute;
        right: 40px;
        bottom: 40px;
        width: 160px;
    }

    .esqueci{
        position: absolute;
        left: 40px;
        bottom: 40px;
        font-size: 12px;
        width: 160px;
    }

    img {
        width: 100%;
    }

    .erro {
        text-align: center;
        font-size: 12px;
        display: block;
        position: relative;
        top: -10px;
        color: mat-color($warn);
    }

}