@import '~@angular/material/theming';
@import './custom.scss';

$warn: map-get($maxse-theme, warn);
$primary: map-get($maxse-theme, primary);
$accent: map-get($maxse-theme, accent);

* {font-family: 'Poppins', sans-serif}

body{
    background-color: #F0F0F0;
    margin:0;
    padding: 0;
}

.container-80{
    width:80%;
    margin-left: 10%;
    padding-bottom: 10px;
}

.container-50{
    width:50%;
    margin-left: 25%;
    padding-bottom: 10px;
}

.top-gap{
    margin-top: 45px;
}

.spacer{
    flex: 1 1 auto; 
}

.snackbar-error{
    background-color: mat-color($warn) !important;
    color:#FFF !important;
    .mat-simple-snackbar{
        font-family: 'Poppins', sans-serif !important;
        text-align: center;
    }
}

.snackbar-ok{
    background-color: mat-color($accent) !important;
    color:#000 !important;
    .mat-simple-snackbar{
        font-family: 'Poppins', sans-serif !important;
    }
}