<ion-header>

	<ion-navbar color ="primary">
		<ion-title>Final de Exec. SSE {{tarefa?.sse?.numero}}</ion-title>
		<ion-buttons end>
			<button ion-button [disabled]="!form.valid || tarefa?.fotos_fim?.length==0" (click)="onSalvarClick()"><ion-icon name="checkmark"></ion-icon></button>
		</ion-buttons>
	</ion-navbar>
	<div class="divergente" *ngIf="tarefa?.divergente=='1'">
		Medidas reais ou tipo de serviço divergem do previsto.
	</div>
</ion-header>

<ion-content padding>
	<form #form="ngForm">
		<ion-item>
			<ion-label floating>Data da Conclusão (Realizado)</ion-label>
			<ion-datetime required name="data" [min]="tarefa.inicio_r"  max="2050" displayFormat="DD MMM YYYY" [(ngModel)]="tarefa.final_r"></ion-datetime>
		</ion-item>

		<ion-item>
			<ion-label floating>Hora da Conclusão (Realizado)</ion-label>
			<ion-datetime required name="hora" [min]="tarefa.inicio_r" displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="tarefa.final_r" ></ion-datetime>
		</ion-item>

		<ion-item>
			<ion-label floating>Observações:</ion-label>
			<ion-input [(ngModel)]="tarefa.obs_fim" name="obs_fim"></ion-input>
		</ion-item>
	</form>

	<div class="container-fotos">
		<div class="titulo">Fotos</div>
		<div class="fotos">
			<div class="foto" *ngFor="let foto of tarefa?.fotos_fim; let i=index">
				<img [src]="foto" alt="foto_{{i}}" imageViewer>
				<button ion-button clear icon-only (click)="rmFoto(i)">
					<ion-icon name="trash"></ion-icon>
				</button>
			</div>
		</div>
	</div>

	<ion-fab bottom right >
		<button (click)="onCameraClick()" color="secondary" ion-fab><ion-icon name="camera"></ion-icon></button>
	</ion-fab>
</ion-content>