.form-container {
	width:600px;
	margin: 30px auto 0 auto;

	.title {
		font-size: 16px;
		font-weight: bold;
		margin: 0 0 10px 0;
	}

	input[type=file] {
		display: none;
	}

	.selecionar {
		width: 400px;
		margin: 0 20px 0 0;
	}

	.enviar {
		width: 180px;
	}
}

table {
	width: 80%;
	margin: 20px 0 0 10%;
	border-collapse: collapse;
	td {
		padding: 10px;
	}

	td:nth-child(1){
		width: 50px;
		text-align: center;
	}

	td:nth-child(2){
		width: 50px;
		text-align: center;
	}

	thead {
		td:nth-child(3){
			text-align: center;
		}
	}
}