<div class="form-container">
	<div class="title">Importação de Arquivo (.xlsx)</div>
	<input #inputFile type="file" name="file" id="file" (change)="fileChange($event)">
	<button class="selecionar" (click)="inputFile.click()" mat-raised-button color="primary">Selecionar Arquivo</button>
	<button class="enviar"      mat-raised-button color="accent">Enviar</button>
</div>

<table>
	<thead>
		<tr>
			<td>Linha</td>
			<td>Nº SSE</td>
			<td>Resultado do Tratamento</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>2</td>
			<td>3</td>
		</tr>
		<tr>
			<td>1</td>
			<td>2</td>
			<td>3</td>
		</tr>
		<tr>
			<td>1</td>
			<td>2</td>
			<td>3</td>
		</tr>
		<tr>
			<td>1</td>
			<td>2</td>
			<td>3</td>
		</tr>
		<tr>
			<td>1</td>
			<td>2</td>
			<td>3</td>
		</tr>
		<tr>
			<td>1</td>
			<td>2</td>
			<td>3</td>
		</tr>
		<tr>
			<td>1</td>
			<td>2</td>
			<td>3</td>
		</tr>
	</tbody>
</table>