<div class="form-container">
	<div class="title">Importação de Arquivo (.xlsx)</div>
	<input #inputFile type="file" name="file" id="file" (change)="fileChange($event)">
	<button class="selecionar" (click)="inputFile.click()" mat-raised-button color="primary">Selecionar Arquivo</button>
	<button class="enviar"     (click)="onEnviarClick()" mat-raised-button color="accent" [disabled]="!file">Enviar</button>
</div>
<div class="file">Arquivo selecionado: {{file ? file.name : 'Nenhum'}}</div>
<table *ngIf="resultados">
	<thead>
		<tr>
			<td>Linha</td>
			<td>Nº SSE</td>
			<td>Resultado do Tratamento</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let r of resultados">
			<td>{{r.linha}}</td>
			<td>{{r.numero}}</td>
			<td>
				<ul *ngIf="r.msgs.length > 0">
					<li *ngFor="let m of r.msgs">
						{{m}}
					</li>
				</ul>
				<ul *ngIf="r.msgs.length == 0">
					<li>Ok</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>