page-sses {
	
	.bt-add {
		position: fixed;
		bottom:16px;
		right: 16px;
	}

	button{
		border-bottom: 1px solid #dedede !important;
		.item-inner{
			border-bottom: none !important;
		}
	}
	.item-md{
		h3 {
			font-size: 1.2rem;
			color:#666;
		}
	}
}
