page-login {
	ion-content{
		background-color: color($colors,casamax_dark) !important;
		.login-container{
			width: calc(100% - 72px);
			position: fixed;
			top: 20px;
			margin-left: 18px;
			img {
				position: relative;
				top:0px;
			}
			button {
				width:100%;
				margin-top: 20px !important;
			}
		}
	}

	.item-md {
		background-color:transparent;
		margin-bottom: 0px;
		padding-left: 0;
	}
	.input-cover{
		background-color:transparent;
	}
	input {
		color: color($colors,light);
	}

	.label-md {
		color: color($colors,light) !important;
	}

	ion-item, button{
		position: relative;
		top:-20px;
	}
}
