p{
	font-weight: bold;
	font-size: 18px;
}

mat-radio-button {
	display: block;
	margin-bottom: 10px;
}

mat-form-field {
	width: 100%;
}
.controles{
	margin: 20px 0 0 0;
	display: flex;
	justify-content: space-between;
}