<div class="container equipes">
	<div class="title">Equipes</div>
	<button mat-icon-button class="mt" matTooltip="Marcar todos" (click)="onMTEquipesClick()">
		<mat-icon>done_all</mat-icon>
	</button>
	<button mat-icon-button class="dmt" matTooltip="Desmarcar todos" (click)="onDMTEquipesClick()">
		<mat-icon>clear</mat-icon>
	</button>
	<div class="lista">
		<mat-checkbox color="primary" [(ngModel)]="equipe.selecionado"  *ngFor="let equipe of busca?.equipesSelecionaveis">{{equipe.elemento.nome}}</mat-checkbox>
	</div>
</div>

<div class="container status">
	<div class="title">Status</div>
	<button mat-icon-button class="mt" matTooltip="Marcar todos" (click)="onMTStatusClick()">
		<mat-icon>done_all</mat-icon>
	</button>
	<button mat-icon-button class="dmt" matTooltip="Desmarcar todos" (click)="onDMTStatusClick()">
		<mat-icon>clear</mat-icon>
	</button>
	<div class="lista">
		<mat-checkbox [(ngModel)]="s.selecionado" color="primary" *ngFor="let s of busca.statusSelecionaveis">{{s.elemento}}</mat-checkbox>
	</div>
</div>

<div class="container prioridades">
	<div class="title">Níveis de Prioridade</div>
	<button mat-icon-button class="mt" matTooltip="Marcar todos" (click)="onMTPrioridadesClick()">
		<mat-icon>done_all</mat-icon>
	</button>
	<button mat-icon-button class="dmt" matTooltip="Desmarcar todos" (click)="onDMTPrioridadesClick()">
		<mat-icon>clear</mat-icon>
	</button>
	<div class="lista">
		<mat-checkbox [(ngModel)]="p.selecionado" color="primary" *ngFor="let p of busca.prioridadesSelecionaveis">{{p.elemento == '0' ? 'Normal': (p.elemento == '1' ? 'Prioridade' : 'Urgente')}}</mat-checkbox>
	</div>
</div>

<mat-form-field class="agendadas_de">
	<input matInput [max]="busca?.agendadas_ate" [(ngModel)]="busca.agendadas_de" [matDatepicker]="picker1" placeholder="Agendados de">
	<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
	<mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

<mat-form-field class="agendadas_ate">
	<input matInput [min]="busca.agendadas_de" [(ngModel)]="busca.agendadas_ate" [matDatepicker]="picker2" placeholder="Agendados até">
	<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
	<mat-datepicker #picker2></mat-datepicker>
</mat-form-field>

<mat-form-field class="realizadas_de">
	<input matInput [max]="busca.realizadas_ate" [(ngModel)]="busca.realizadas_de" [matDatepicker]="picker3" placeholder="Realizados de">
	<mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
	<mat-datepicker #picker3></mat-datepicker>
</mat-form-field>

<mat-form-field class="realizadas_ate">
	<input matInput [min]="busca.realizadas_de" [(ngModel)]="busca.realizadas_ate" [matDatepicker]="picker4" placeholder="Realizados até">
	<mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
	<mat-datepicker #picker4></mat-datepicker>
</mat-form-field>


<button class="bt-reset" mat-raised-button color="accent" (click)="onResetCamposClick()">Resetar</button>
<button class="bt-exportar" mat-raised-button color="primary" (click)="onExportarClick()">Exportar resultado (Excel)</button>
<button [disabled]="buscando" cdkFocusRegionstart class="bt-buscar" mat-raised-button color="primary" (click)="onBuscarClick()">
	<span *ngIf="!buscando">Buscar</span>
	<mat-spinner *ngIf="buscando" diameter="16"></mat-spinner>
</button>
