<div class="container-50 top-gap padding">
	<form #usuarioForm="ngForm">
		<mat-form-field>
			<input name="nome" [(ngModel)]="usuario.nome" matInput placeholder="Nome" required>
		</mat-form-field>
		<mat-form-field>
			<input name="email" [(ngModel)]="usuario.email" matInput placeholder="E-mail" type="email" email #email="ngModel" required>
			<mat-error *ngIf="email.invalid">E-mail inválido</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input name="username" [(ngModel)]="usuario.username" matInput placeholder="Login" required>
		</mat-form-field>
		<mat-form-field>
			<input name="senha1" [(ngModel)]="senha1" matInput type="password" placeholder="Senha" [required]="usuario.id==0">
		</mat-form-field>
		<mat-form-field>
			<input name="senha2" [(ngModel)]="senha2" matInput type="password" placeholder="Confirmação de Senha" [required]="usuario.id==0">
		</mat-form-field>

		<mat-checkbox name="ativo" [(ngModel)]="usuario.ativo" color="primary">Ativo</mat-checkbox>

		<mat-form-field>
			<mat-select name="acessoApp" [(ngModel)]="usuario.acessoApp" [disabled]="!usuario.ativo" placeholder="Acesso via APP">
				<mat-option [value]="0">Não tem</mat-option>
				<mat-option [value]="1">Como Registrador</mat-option>
				<mat-option [value]="2">Como Executor</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field>
			<mat-select name="acessoWeb" [(ngModel)]="usuario.acessoWeb" [disabled]="!usuario.ativo" placeholder="Acesso Web">
				<mat-option [value]="false">Não</mat-option>
				<mat-option [value]="true">Sim</mat-option>
			</mat-select>
		</mat-form-field>
		
		<div class="controles">
			<button mat-raised-button color="accent" (click)="onCancelarClick()">Cancelar</button>
			<span class="spacer"></span>
			<button
				[disabled]="usuarioForm.invalid || senha1 != senha2"
				mat-raised-button
				color="primary"
				class="salvar"
				type="button"
				(click)="onSalvarClick()">{{(senha1 != senha2) ? "Confirmação de senha inválida" : "Salvar"}}</button>
		</div>
	</form>
</div>