page-tarefa-iniciar {
	.divergente{
		top:56px;
		background-color: #F00;
		color:#FFF;
		text-align: center;
		padding: 10px;
	}
	
	.container-medidas{
		padding:16px;
		border-bottom:1px solid #DEDEDE;
		.titulo{
			font-size: 13px;
			color: #939393;
			button {
				position: relative;
				top: -6px;
			}
		}
		.medidas{
			margin-top: 10px;
			color: #939393;
			ion-input {
				border:none;
				border-bottom: 1px solid #DEDEDE;
				padding: 0px 0;
				width: calc(50% - 38px);
				color:#000;
				text-align: center;
				display: inline-block;
			}
		}
	}

	.container-autorizacao{
		margin-top: 30px;
		padding: 20px 20px 0px 20px;
		border: 1px solid #DEDEDE;
		box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
		margin: 30px 0 10px 0;
		font-size: 16px;
		text-align: justify;
		ion-item {
			margin-bottom: 20px;
		}
	}

	.container-fotos{
		padding:16px;
		border-bottom:1px solid #DEDEDE;
		.titulo{
			font-size: 13px;
			color: #939393;
		}
		.fotos{
			margin-top: 10px;
			color: #939393;
			
			.foto {
				position: relative;
				button {
					position: absolute;
					bottom: 5px;
					left: 2px;
					background-color: rgba(255, 255, 255,0.3);
					border-radius: 20px;
					width: 28px;
					font-size: 10px;
					height: 28px;
					color: #000;
				}
			}
		}
	}

}
