<ion-header>
	<ion-navbar	color="primary">
		
		<ion-title>
			Iniciar SSE {{tarefa?.sse?.numero}}</ion-title>
		<ion-buttons end>
			
			<!-- BOTÃO QUE SALVA TAREFAS DIVERGENTES-->
			<button
				*ngIf="tarefa.divergente"
				ion-button icon-only large
				[disabled]="!form.valid || (executarComAutorizacao && !tarefa.autorizadaPor) || executarComAutorizacao==undefined || tarefa.fotos_inicio.length==0"
				(click)="onSalvarDivergenciaClick()">
					<ion-icon name="done-all"></ion-icon>
			</button>
			
			<!-- BOTÃO QUE SALVA TAREFAS NÃO DIVERGENTES-->
			<button
				*ngIf="!tarefa.divergente"
				ion-button icon-only large
				[disabled]="!form.valid || tarefa.fotos_inicio.length==0"
				(click)="onSalvarClick()">
					<ion-icon name="checkmark"></ion-icon>
			</button>

		</ion-buttons>
	</ion-navbar>
	<div class="divergente" *ngIf="tarefa?.divergente">
		Medidas reais ou tipo de serviço divergem do previsto.
	</div>
</ion-header>

<ion-content padding>
	<form #form="ngForm">
		
		<div class="container-autorizacao" *ngIf="showDivergenteBox">
			<div>
				As medidas/tipo de serviço estão diferentes do que foi previsto. A execução só pode ser iniciada com autorização. O que deseja fazer?
				<ion-list radio-group [(ngModel)]="executarComAutorizacao" name="executarComAutorizacao" >
					<ion-item>
						<ion-label>Salvar com divergência</ion-label>
						<ion-radio [disabled]="autorizadaPorTravado" [value]="false" (click)="tarefa.autorizadaPor = undefined"></ion-radio>
					</ion-item>
					<ion-item>
						<ion-label>Executar com autorização</ion-label>
						<ion-radio [disabled]="autorizadaPorTravado" [value]="true" (click)="onExecutarComAutorizacaoClick()"></ion-radio>
					</ion-item>
				</ion-list>
				<ion-item *ngIf="executarComAutorizacao">
					<ion-label>Autorizado por:</ion-label>
					<ion-input required [(ngModel)]="tarefa.autorizadaPor" name="autorizadaPor" [disabled]="autorizadaPorTravado"></ion-input>
				</ion-item>
			</div>
		</div>

		<ion-item>
			<ion-label floating>Data do Início (Realizado)</ion-label>
			<ion-datetime
				[required]="!(tarefa.divergente && !executarComAutorizacao)"
				name="data"
				displayFormat="DD MMM YYYY"
				[(ngModel)]="inicio_r_string">
			</ion-datetime>
		</ion-item>
		
		<ion-item>
			<ion-label floating>Hora do Início (Realizado)</ion-label>
			<ion-datetime
				[required]="!(tarefa.divergente && !executarComAutorizacao)"
				name="hora"
				displayFormat="HH:mm"
				pickerFormat="HH mm"
				[(ngModel)]="inicio_r_string">
			</ion-datetime>
		</ion-item>

		<ion-item>
			<ion-label floating>Tipo de Servico Previsto</ion-label>
			<ion-input name="tds_p" disabled value="RG {{tarefa?.sse?.tipoDeServicoPrev?.codigo}} - {{tarefa?.sse?.tipoDeServicoPrev?.descricao}}"></ion-input>
		</ion-item>

		<div class="container-medidas">
			<div class="titulo">Medidas Previstas</div>
			<div class="medidas" *ngIf="tarefa?.sse?.tipoDeServicoPrev?.medida == 'a'">
				<div *ngFor="let m of tarefa?.sse?.medidas_area.prev">{{m.l}} x {{m.c}} m²</div>
			</div>
			<div class="medidas" *ngIf="tarefa?.sse?.tipoDeServicoPrev?.medida == 'l'">
				<div *ngFor="let m of tarefa?.sse.medidas_linear.prev">{{m.v}} m</div>
			</div>
			<div class="medidas" *ngIf="tarefa?.sse?.tipoDeServicoPrev?.medida == 'u'">
				<div *ngFor="let m of tarefa?.sse.medidas_unidades.prev">{{m.n}} unid</div>
			</div>
			<div class="medidas">
				<div>Total: {{totalMedidasPrev?.valor + ' ' + totalMedidasPrev?.unidade}}</div>
			</div>
		</div>

		<ion-item>
			<ion-label floating>Tipo de Servico a Realizar</ion-label>
			<ion-select [disabled]="medidasTravadas" (ionChange)="onTipoDeServicoChange()" required name="tdsR" [(ngModel)]="tarefa.sse.tipoDeServicoReal" >
				<ion-option *ngFor="let tds of tiposDeServico" [value]="tds">RG{{tds.codigo}} {{tds.descricao}}</ion-option>
			</ion-select>
		</ion-item>

		<div class="container-medidas">
			
			<div class="titulo">
				Medidas Realizadas
				<button
					[disabled]="!tarefa.sse.tipoDeServicoReal || medidasTravadas"
					ion-button
					small
					color="dark"
					clear
					(click)="addMedida()">
					<ion-icon name="add"></ion-icon>
				</button>
			</div>
			
			<div class="medidas" *ngIf="tarefa?.sse?.tipoDeServicoReal?.medida == 'a'">
				<div *ngFor="let med of tarefa?.sse.medidas_area.real; let i=index;">
					<ion-input (ionBlur)="onMedidasBlur()" [disabled]="medidasTravadas" type="number" required step="0.01" name="med_l_{{i}}" [(ngModel)]="med.l"></ion-input> x
					<ion-input (ionBlur)="onMedidasBlur()" [disabled]="medidasTravadas" type="number" required step="0.01" name="med_c_{{i}}" [(ngModel)]="med.c"></ion-input> m²
					<button
						[disabled]="medidasTravadas"
						*ngIf="tarefa?.sse.medidas_area.real.length > 1"
						ion-button
						small
						color="dark"
						clear
						(click)="rmMedida(i)">
						<ion-icon name="trash"></ion-icon>
					</button>
				</div>
			</div>
			
			<div class="medidas" *ngIf="tarefa?.sse?.tipoDeServicoReal?.medida == 'l'">
				<div *ngFor="let med of tarefa?.sse?.medidas_linear.real; let i=index;">
					<ion-input (ionBlur)="onMedidasBlur()" [disabled]="medidasTravadas" type="number" required step="0.01" name="med_v_{{i}}" [(ngModel)]="med.v"></ion-input> m
					<button
						[disabled]="medidasTravadas"
						*ngIf="tarefa?.sse?.medidas_linear.real.length > 1"
						ion-button
						small
						color="dark"
						clear
						(click)="rmMedida(i)">
						<ion-icon name="trash"></ion-icon>
					</button>
				</div>
			</div>

			<div class="medidas" *ngIf="tarefa?.sse?.tipoDeServicoReal?.medida == 'u'">
				<div *ngFor="let med of tarefa?.sse?.medidas_unidades.real; let i=index;">
					<ion-input (ionBlur)="onMedidasBlur()" [disabled]="medidasTravadas" type="number" required step="0.01" name="med_n_{{i}}" [(ngModel)]="med.n"></ion-input> unid
					<button
						[disabled]="medidasTravadas"
						*ngIf="tarefa?.sse.medidas_unidades.real.length > 1"
						ion-button
						small
						color="dark"
						clear
						(click)="rmMedida(i)">
						<ion-icon name="trash"></ion-icon>
					</button>
				</div>
			</div>

			<div class="container-total-real">Total: {{totalMedidasReal?.valor + ' ' + totalMedidasReal?.unidade}}</div>
		</div>

		<ion-item>
			<ion-label floating>Observações:</ion-label>
			<ion-input [(ngModel)]="tarefa.obs_ini" name="obs_ini" [disabled]="autorizadaPorTravado"></ion-input>
		</ion-item>
	</form>

	<div class="container-fotos">
		<div class="titulo">Fotos</div>
		<div class="fotos">
			<div class="foto" *ngFor="let foto of tarefa?.fotos_inicio; let i=index">
				<img [src]="foto" alt="foto_{{i}}">
				<button ion-button clear icon-only (click)="rmFoto(i)">
					<ion-icon name="trash"></ion-icon>
				</button>
			</div>
		</div>
	</div>

	<ion-fab top right >
		<button (click)="onCameraClick()" color="secondary" ion-fab><ion-icon name="camera"></ion-icon></button>
	</ion-fab>

</ion-content>
