<div class="container-80 top-gap padding">
	<form #equipeForm="ngForm">
		<mat-form-field>
			<input [(ngModel)]="equipe.nome" matInput placeholder="Nome" name="nome" required>
			<mat-error>Digite o nome da equipe</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input [(ngModel)]="equipe.sigla" maxlength="4" matInput placeholder="Sigla" name="sigla" required>
			<mat-hint align="end">{{equipe.sigla.length}} / 4</mat-hint>
			<mat-error>Digite uma sigla para a equipe</mat-error>
		</mat-form-field>
		<mat-form-field>
			<mat-select [(ngModel)]="equipe.tipo" placeholder="Tipo de Equipe" name="tipo" required>
				<mat-option *ngFor="let tipo of tiposDeEquipe" [value]="tipo">
					{{tipo.nome}}
				</mat-option>
			</mat-select>
			<mat-error>Selecione o tipo da equipe</mat-error>
		</mat-form-field>

		<div class="membros-container">
			<div class="label">Membros</div>
			<button class="add-button" mat-mini-fab (click)="onAddMemberClick()"><mat-icon>add</mat-icon></button>
			<table>
				<thead>
					<tr>
						<td>Nome</td>
						<td>E-mail</td>
						<td>Salário (R$)</td>
						<td>Líder</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let m of equipe.membros; let i = index">
						<td><input required [ngModelOptions]="{standalone: true}" [(ngModel)]="m.nome" type="text"></td>
						<td><input required [ngModelOptions]="{standalone: true}" [(ngModel)]="m.email" type="text"></td>
						<td><input [ngModelOptions]="{standalone: true}" [(ngModel)]="m.salario" type="number" step="0.01"></td>
						<td><mat-checkbox (click)="onLiderClick(m.id)" color="primary" [ngModelOptions]="{standalone: true}" [(ngModel)]="m.lider"></mat-checkbox></td>
						<td><button (click)="onRemoveButtonClick(i)" mat-icon-button><mat-icon>remove_circle</mat-icon></button></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="lider-container">
			<div class="label">Dados de Acesso</div>
			<div *ngFor="let m of equipe.membros; let i = index">
				<mat-form-field *ngIf="m.lider">
					<input matInput [required]="m.lider" placeholder="Login" name="username_{{i}}" [(ngModel)]="m.username" type="text" >
					<mat-error>Digite um login para ser utilizado pela equipe no aplicativo MAXSe</mat-error>
				</mat-form-field>

				<mat-form-field *ngIf="m.lider">
					<input matInput [required]="equipe.id==0" placeholder="Senha" name="senha_{{i}}" [(ngModel)]="m.senha" type="password">
					<mat-error>Digite uma senha</mat-error>
				</mat-form-field>

				<mat-form-field *ngIf="m.lider">
					<input matInput [required]="equipe.id==0" placeholder="Confirmação de Senha" name="conf_senha_{{i}}" [(ngModel)]="m.conf_senha" type="password">
					<mat-error>Repita a senha utilizada no campo anterior</mat-error>
				</mat-form-field>
				<div class="erro" *ngIf="m.senha!=m.conf_senha">A confirmação da senha não confere</div>
			</div>
		</div>
				
		<mat-checkbox [(ngModel)]="equipe.ativa" color="primary" name="ativa">Ativa</mat-checkbox>
			
		<div class="controles">
			<button mat-raised-button (click)="onCancelarClick()" color="accent">Cancelar</button>
			<button
				mat-raised-button
				(click)="onSalvarClick()"
				color="primary"
				class="salvar"
				[disabled]="equipeForm.invalid || equipeForm.pristine || liderAtual?.senha!=liderAtual?.conf_senha">Salvar</button>
		</div>

	</form>
</div>