<ion-header>
	<ion-navbar color="primary">
		<ion-title>SSE 55645</ion-title>
		<ion-buttons end>
			<button ion-button><ion-icon name="checkmark"></ion-icon></button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<div id="image-container">
		<img src="../../assets/imgs/dumb-sse.jpeg">
	</div>
	<ion-item>
		<ion-label floating>DOMASA</ion-label>
		<ion-select>
			<ion-option *ngFor="let domasa of domasas">DOMASA {{domasa.id}}</ion-option>
		</ion-select>
	</ion-item>
	<ion-item>
		<ion-label floating>Número</ion-label>
		<ion-input type="text"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label floating>Data do Recebimento</ion-label>
		<ion-datetime displayFormat="DD MMM YYYY"></ion-datetime>
	</ion-item>
	<ion-item>
		<ion-label floating>Hora do Recebimento</ion-label>
		<ion-datetime displayFormat="HH:mm" pickerFormat="HH mm"></ion-datetime>
	</ion-item>
	<ion-item>
		<ion-label floating>Tipo de Serviço</ion-label>
		<ion-select>
			<ion-option *ngFor="let tds of tiposDeServico">RG{{tds.codigo}}</ion-option>
		</ion-select>
	</ion-item>
	<ion-item>
		<ion-label floating>Endereço</ion-label>
		<ion-input type="text"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label floating>Bairro</ion-label>
		<ion-select>
			<ion-option value="nes">NES</ion-option>
			<ion-option value="n64">Nintendo64</ion-option>
			<ion-option value="ps">PlayStation</ion-option>
			<ion-option value="genesis">Sega Genesis</ion-option>
			<ion-option value="saturn">Sega Saturn</ion-option>
			<ion-option value="snes">SNES</ion-option>
		</ion-select>
	</ion-item>
	<ion-item>
		<ion-label floating>Observações</ion-label>
		<ion-input type="text"></ion-input>
	</ion-item>
	<div class="medidas-container">
		medidas...
	</div>
	<ion-item>
		<ion-label floating>Total (m²)</ion-label>
		<ion-input disabled type="number" value="8.35"></ion-input>
	</ion-item>
	<button ion-fab><ion-icon name="camera"></ion-icon></button>
</ion-content>
