<div class="container-80 top-gap">
	<form #sseForm="ngForm">
		<div class="topo">
			
			<div class="left">
				<mat-form-field>
					<mat-select (selectionChange)="onDomasaChange()" required name="domasa" placeholder="DOMASA" [(ngModel)]="domasaSelecionada" [disabled]="camposDeCadstroTravados">
						<mat-option [value]="domasa" *ngFor="let domasa of domasas">DOMASA {{domasa.id}}</mat-option>
					</mat-select>
					<mat-error>
						Selecione uma DOMASA.
					</mat-error>
				</mat-form-field>
		
				<mat-form-field>
					<input
						pattern="[0-9]{7}"
						maxlength="7"
						[required]="sse.urgencia!=2"
						[disabled]="sse.urgencia!=2 && camposDeCadstroTravados"
						name="numero"
						[(ngModel)]="sse.numero"
						matInput
						placeholder="SSE Número">
						<mat-error>
							Se o nível de prioridade desta SSE não for URGENTE, digite o número desta SSE.
						</mat-error>
				</mat-form-field>
		
				<mat-form-field>
					<input required name="dh_recebido_dia" [(ngModel)]="sse.dh_recebido" matInput [matDatepicker]="dpRecebimento" [disabled]="camposDeCadstroTravados">
					<mat-datepicker-toggle matSuffix [for]="dpRecebimento"></mat-datepicker-toggle>
					<mat-datepicker #dpRecebimento></mat-datepicker>
					<mat-error>
						Insira uma data de recebimento válida.
					</mat-error>
				</mat-form-field>
				
				<div class="container-hora-recebida">
					<mat-form-field>
						<input required name="dh_recebido_hora" matInput placeholder="Hora" type="time" [(ngModel)]="timestring" [disabled]="camposDeCadstroTravados">
						<mat-error>
							Insira uma hora de recebimento válida.
						</mat-error>
					</mat-form-field>
					<button (click)="setHora(10)" mat-raised-button color="accent" [disabled]="camposDeCadstroTravados">
						10h?
					</button>
					<button (click)="setHora(15)" mat-raised-button color="accent" [disabled]="camposDeCadstroTravados">
						15h?
					</button>
				</div>
			</div>
			
			<div class="container-foto" *ngIf="sse?.foto">
				<img [src]="sse?.foto" alt="{{ 'SSE ' + sse?.numero }}" (click)="onImageClick()">
				<button (click)="inputFile.click()" mat-mini-fab>
					<mat-icon>attach_file</mat-icon>
				</button>
			</div>
			<button *ngIf="!sse?.foto" class="noImageButton" (click)="inputFile.click()">SSE sem foto. Clique para selecionar arquivo.</button>
			<input
				name="inputFile"
				[(ngModel)]="inputImageFile" 
				style="display:none"
				type="file"
				accept=".jpg,.jpeg"
				(change)="onImageSelected($event)"
				#inputFile>
		</div>

		<mat-form-field>
			<mat-select required (selectionChange)="onTipoDeServicoPrevChange()" name="tds" [(ngModel)]="sse.tipoDeServicoPrev" placeholder="Tipo de Serviço" [disabled]="camposDeCadstroTravados">
				<mat-option [value]="tds" *ngFor="let tds of tdss">RG{{tds.codigo}} - {{tds.descricao}}</mat-option>
				<mat-error>
					Selecione um tipo de serviço
				</mat-error>
			</mat-select>
		</mat-form-field>

		<mat-form-field>
			<input required name="endereco" [(ngModel)]="sse.endereco" matInput placeholder="Endereço" [disabled]="camposDeCadstroTravados">
			<mat-error>
				Digite um endereço válido
			</mat-error>
		</mat-form-field>

		<div class="container-bairro">
			<label for="bairro">Bairro *</label>
			<select name="bairro" id="bairro" [(ngModel)]="id_bairro_selecionado" [disabled]="camposDeCadstroTravados" required (change)="onBairrosChange()">
				<option [value]="bairro.id" *ngFor="let bairro of bairrosExibidos">{{bairro.codigo}} - {{bairro.nome}}</option>
			</select>
		</div>

		<mat-form-field>
			<mat-select name="urgencia" [(ngModel)]="sse.urgencia" placeholder="Nível de Prioridade" [disabled]="camposDeCadstroTravados">
				<mat-option required [value]="0">Normal</mat-option>
				<mat-option [value]="1">Prioridade</mat-option>
				<mat-option [value]="2">Urgente</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field>
			<textarea name="obs" [(ngModel)]="sse.obs" matInput placeholder="Observações" [disabled]="camposDeCadstroTravados"></textarea>
		</mat-form-field>
		
		<div class="container-medidas">
			<div class="medidas previstas">
				<div class="label">Medidas Previstas
					<button mat-icon-button (click)="onAddMedidaPrevClick()" [disabled]="camposDeCadstroTravados">
						<mat-icon>add</mat-icon>
					</button>
				</div>
				<div *ngIf="temCampoDeMedidaVazio" class="erro-medidas">Existem medidas não preenchidas</div>
				<div class="medidas-container" *ngIf="sse.tipoDeServicoPrev?.medida=='a'">
					<div class="medida" *ngFor="let m of sse.medidas_area.prev;let i=index">
						<input min="0" required (keyup)="onInputMedidaPrevChange()" (click)="onInputMedidaPrevChange()" type="number" name="medida_al_{{i}}_p" step="0.01" [(ngModel)]="m.l" [disabled]="camposDeCadstroTravados"> x
						<input min="0" required (keyup)="onInputMedidaPrevChange()" (click)="onInputMedidaPrevChange()" type="number" name="medida_ac_{{i}}_p" step="0.01" [(ngModel)]="m.c" [disabled]="camposDeCadstroTravados"> m²
						<button color="warn" *ngIf="sse.medidas_area.prev.length>1" mat-icon-button (click)="onRemoveMedidaPrevClick(i)" [disabled]="camposDeCadstroTravados">
							<mat-icon>remove_circle</mat-icon>
						</button>
					</div>
				</div>
				<div class="medidas-container" *ngIf="sse.tipoDeServicoPrev?.medida=='l'">
					<div class="medida" *ngFor="let m of sse.medidas_linear.prev;let i=index">
						<input min="0" required (keyup)="onInputMedidaPrevChange()" (click)="onInputMedidaPrevChange()" type="number" name="medida_l_{{i}}_p" step="0.01" [(ngModel)]="m.v" [disabled]="camposDeCadstroTravados"> m
						<button color="warn" *ngIf="sse.medidas_linear.prev.length>1" mat-icon-button (click)="onRemoveMedidaPrevClick(i)" [disabled]="camposDeCadstroTravados">
							<mat-icon>remove_circle</mat-icon>
						</button>
					</div>
				</div>
				<div class="medidas-container" *ngIf="sse.tipoDeServicoPrev?.medida=='u'">
					<div class="medida" *ngFor="let m of sse.medidas_unidades.prev;let i=index">
						<input min="0" required (keyup)="onInputMedidaPrevChange()" (click)="onInputMedidaPrevChange()" type="number" name="medida_u_{{i}}_p" step="1" [(ngModel)]="m.n" [disabled]="camposDeCadstroTravados"> unid
						<button color="warn" *ngIf="sse.medidas_unidades.prev.length>1" mat-icon-button (click)="onRemoveMedidaPrevClick(i)" [disabled]="camposDeCadstroTravados">
							<mat-icon>remove_circle</mat-icon>
						</button>
					</div>
				</div>

				<mat-form-field>
					<mat-select required (selectionChange)="onTipoDeServicoPrevChange()" name="tds_p2" [(ngModel)]="sse.tipoDeServicoPrev" placeholder="Tipo de Serviço Previsto" [disabled]="camposDeCadstroTravados">
						<mat-option [value]="tds" *ngFor="let tds of tdss">RG{{tds.codigo}} - {{tds.descricao}}</mat-option>
					</mat-select>
				</mat-form-field>
	
				<mat-form-field>
					<input type="text" matInput readonly placeholder="Total Previsto ({{ sse.tipoDeServicoPrev?.medida=='a' ? 'm²' : (sse.tipoDeServicoPrev?.medida=='l'?'m':'unid') }})" value="{{medidaPrevTotal | number:'1.2-2'}}">
				</mat-form-field>
			</div>
			<div class="medidas realizadas" *ngIf="sse.tipoDeServicoReal">
				<div class="label">Medidas Realizadas
					<button mat-icon-button [disabled]="camposDeMedidasReaisTravados">
						<mat-icon>add</mat-icon>
					</button>
				</div>
				<div class="medidas-container" *ngIf="sse.tipoDeServicoReal?.medida=='a'">
					<div class="medida" *ngFor="let m of sse.medidas_area.real;let i=index">
						<input required (keyup)="onInputMedidaChange()" (click)="onInputMedidaChange()" type="number" name="medida_al_{{i}}_r" step="0.01" [(ngModel)]="m.l" [disabled]="camposDeMedidasReaisTravados"> x
						<input required (keyup)="onInputMedidaChange()" (click)="onInputMedidaChange()" type="number" name="medida_ac_{{i}}_r" step="0.01" [(ngModel)]="m.c" [disabled]="camposDeMedidasReaisTravados"> m²
						<button color="warn" *ngIf="sse.medidas_area.real.length>1" mat-icon-button (click)="onRemoveMedidaClick(i)" [disabled]="camposDeMedidasReaisTravados">
							<mat-icon>remove_circle</mat-icon>
						</button>
					</div>
				</div>
				<div class="medidas-container" *ngIf="sse.tipoDeServicoReal?.medida=='l'">
					<div class="medida" *ngFor="let m of sse.medidas_linear.real;let i=index">
						<input required (keyup)="onInputMedidaChange()" (click)="onInputMedidaChange()" type="number" name="medida_l_{{i}}_r" step="0.01" [(ngModel)]="m.v" [disabled]="camposDeMedidasReaisTravados"> m
						<button color="warn" *ngIf="sse.medidas_linear.real.length>1" mat-icon-button (click)="onRemoveMedidaClick(i)">
							<mat-icon>remove_circle</mat-icon>
						</button>
					</div>
				</div>
				<div class="medidas-container" *ngIf="sse.tipoDeServicoReal?.medida=='u'">
					<div class="medida" *ngFor="let m of sse.medidas_unidades.real;let i=index">
						<input required (keyup)="onInputMedidaChange()" (click)="onInputMedidaChange()" type="number" name="medida_u_{{i}}_r" step="1" [(ngModel)]="m.n" [disabled]="camposDeMedidasReaisTravados"> unid
						<button color="warn" *ngIf="sse.medidas_unidades.real.length>1" mat-icon-button (click)="onRemoveMedidaClick(i)" [disabled]="camposDeMedidasReaisTravados">
							<mat-icon>remove_circle</mat-icon>
						</button>
					</div>
				</div>

				<mat-form-field>
					<mat-select name="tds2" [(ngModel)]="sse.tipoDeServicoReal" placeholder="Tipo de Serviço Realizado" [disabled]="true">
						<mat-option [value]="tds" *ngFor="let tds of tdss">RG{{tds.codigo}} - {{tds.descricao}}</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field>
					<input type="text" matInput readonly placeholder="Total Realizado ({{ sse.tipoDeServicoReal.medida=='a' ? 'm²' : (sse.tipoDeServicoReal.medida=='l'?'m':'unid') }})" value="{{medidaRealTotal | number:'1.2-2'}}" >
				</mat-form-field>
				
			</div>
		</div>

		<div class="controles">
			<button mat-raised-button disabled color="accent">Cancelar</button>
			<button
				mat-raised-button
				color="primary"
				[disabled]="!sseForm.valid || !sse.foto || sseForm.pristine || id_bairro_selecionado==0" (click)="onSalvarClick()">
				Salvar Alterações
			</button>
		</div>

	</form>
	<div class="container-tarefas" *ngIf="sse.tarefas?.length > 0">
		<h1>Serviços Agendados/Realizados</h1>
	
		<div class="servico" *ngFor="let tarefa of sse.tarefas;let index_tarefa=index">
			
			<table class="horarios">
				<thead>
					<tr>
						<td></td>
						<td>Início</td>
						<td>Final</td>
						<td>Duração</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Previsto</td>
						<td>{{tarefa.inicio_p | date: "dd/MM/yyyy à's' HH:mm"}}</td>
						<td>{{tarefa.final_p | date: "dd/MM/yyyy à's' HH:mm"}}</td>
						<td>{{tarefa.duracao_p}}</td>
					</tr>
					<tr>
						<td>Realizado</td>
						<td>{{tarefa.inicio_r | date: "dd/MM/yyyy à's' HH:mm"}}</td>
						<td>{{tarefa.final_r | date: "dd/MM/yyyy à's' HH:mm"}}</td>
						<td>{{tarefa.duracao_r}}</td>
					</tr>
				</tbody>
			</table>
			<div class="equipe">Equipe: {{tarefa.equipe_sigla}} - {{tarefa.equipe_nome}} ({{tarefa.equipe_tipo_nome}})</div>
			<div class="divergencia" *ngIf="tarefa.divergente=='1'">
				Divergência {{ tarefa.autorizadaPor==null? 'não autorizada.' : 'autorizada por ' + tarefa.autorizadaPor }}
			</div>
			<div class="container-descricao">
				<div class="descricao inicio">
					<h3>Início</h3>
					<div class="obs">
						Observações: {{tarefa.obs_ini}}
					</div>
					<div class="fotos">
						<h4>Fotos</h4>
						<img *ngFor="let foto of tarefa.fotos?.ini; let i=index" [src]="foto" (click)="onFotoClick(index_tarefa,'ini',i)" >
					</div>
				</div>
				<div class="descricao fim">
					<h3>Conclusão</h3>
					<div class="obs">
						Observações: {{tarefa.obs_fim}}
					</div>
					<div class="fotos">
						<h4>Fotos</h4>
						<img *ngFor="let foto of tarefa.fotos?.fim; let i=index" [src]="foto" (click)="onFotoClick(index_tarefa,'fim',i)">
					</div>
				</div>
			</div>
		</div>
	
	</div>
	<div class="container-tarefas" *ngIf="sse.data_devolucao">
		<h1>Finalização</h1>
		<div *ngIf="sse.finalizacao_parcial">Finalização parcial: {{sse.motivo_finalizacao_parcial}}</div>
		<div>Data de Devolução para Sanasa: {{sse.data_devolucao|date:'dd/MM/yyyy'}}</div>
	</div>
</div>